source https://api.nuget.org/v3/index.json


storage: none
nuget FSharp.Core 4.6.2
nuget Hopac
nuget Microsoft.SourceLink.GitHub prerelease copy_local: true
nuget Ply

group Test
source https://api.nuget.org/v3/index.json
storage: none
nuget Expecto
nuget Expecto.Hopac
nuget Fable.Mocha 2.10.0

group Build
source https://api.nuget.org/v3/index.json

storage: none
nuget Fake.Core.Target 5.20.4
nuget Fake.DotNet.Cli 5.20.4
nuget Fake.Core.ReleaseNotes 5.20.4
nuget Fake.DotNet.AssemblyInfoFile 5.20.4
nuget Fake.DotNet.Paket 5.20.4
nuget Fake.DotNet.Testing.Expecto 5.20.4
nuget Fake.Tools.Git 5.20.4
nuget Fake.JavaScript.Npm 5.20.4
nuget Fake.Api.GitHub 5.20.4
nuget MSBuild.StructuredLogger 2.1.507 