source https://api.nuget.org/v3/index.json


storage: none
framework: netstandard2.0, netstandard2.1, net5.0
nuget AltCover
nuget FSharp.Core 4.7.2
nuget Hopac
nuget FSharp.Control.AsyncSeq 3.2.1
nuget Microsoft.SourceLink.GitHub prerelease copy_local: true
nuget Ply
nuget Expecto
nuget Expecto.Hopac
nuget Microsoft.NET.Test.Sdk
nuget YoloDev.Expecto.TestSdk
nuget Fable.Mocha 2.10.0

group Build
source https://api.nuget.org/v3/index.json
framework: netstandard2.0, netstandard2.1, net5.0
storage: none
nuget FSharp.Core 4.7.2
nuget Fake.Core.Target 5.20.4
nuget Fake.DotNet.Cli 5.20.4
nuget Fake.Core.ReleaseNotes 5.20.4
nuget Fake.DotNet.AssemblyInfoFile 5.20.4
nuget Fake.DotNet.Paket 5.20.4
nuget Fake.DotNet.Testing.Expecto 5.20.4
nuget Fake.Tools.Git 5.20.4
nuget Fake.JavaScript.Npm 5.20.4
nuget Fake.Api.GitHub 5.20.4
nuget MSBuild.StructuredLogger 2.1.507
nuget Octokit 0.48