source https://api.nuget.org/v3/index.json


storage: none
framework: netstandard2.0, netstandard2.1, net5.0
nuget FSharp.Core 4.7.2
nuget Hopac
nuget FSharp.Control.AsyncSeq 3.2.1
nuget Microsoft.SourceLink.GitHub prerelease copy_local: true
nuget Ply
nuget Expecto
nuget Expecto.Hopac
nuget Microsoft.NET.Test.Sdk
nuget YoloDev.Expecto.TestSdk
nuget Fable.Mocha 2.10.0


group NetStandard2
source https://api.nuget.org/v3/index.json
nuget FSharp.Core 4.7.2
nuget Ply
nuget Hopac
nuget FSharp.Control.AsyncSeq
nuget Expecto
nuget Expecto.Hopac
nuget Microsoft.NET.Test.Sdk
nuget YoloDev.Expecto.TestSdk
nuget Fable.Mocha 2.12.0
framework: netstandard2.0, net5.0
storage: none
condition: netstandard2_0


group NetStandard2_1
source https://api.nuget.org/v3/index.json
nuget FSharp.Core 6.0.3
nuget Hopac
nuget FSharp.Control.AsyncSeq
nuget Expecto
nuget Expecto.Hopac
nuget Microsoft.NET.Test.Sdk
nuget YoloDev.Expecto.TestSdk
nuget Fable.Mocha 2.12.0
nuget IcedTasks
storage: none
condition: netstandard2_1

group Benchmarks
source https://api.nuget.org/v3/index.json
storage: none
nuget FSharp.Core ~> 6
nuget BenchmarkDotNet 0.13.1
nuget BenchmarkDotNet.Annotations 0.13.1
nuget BenchmarkDotNet.Diagnostics.Windows 0.13.1


// [ FAKE GROUP ]
group Build
    source https://api.nuget.org/v3/index.json
    storage: none
    nuget FSharp.Core 
    nuget Fake.Core.Target 5.22.0
    nuget Fake.DotNet.Cli 5.22.0
    nuget Fake.Core.ReleaseNotes 5.22.0
    nuget Fake.DotNet.AssemblyInfoFile 5.22.0
    nuget Fake.DotNet.Paket  5.22.0
    nuget Fake.DotNet.Testing.Expecto 5.22.0
    nuget Fake.Tools.Git 5.22.0
    nuget Fake.JavaScript.Npm  5.22.0
    nuget Fake.Api.GitHub  5.22.0
    nuget Fake.BuildServer.GitHubActions 5.22.0
    nuget MSBuild.StructuredLogger
    nuget Octokit